<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">BCSD Laboratory?</h2>
                <hr class="light">
                <p class="text-faded">Abbreviation of Beyond Computer Software Developer, We mainly develope project that you want with us. <br>

                      BCSDLAB is an IT specialization club and supported by NAVER D2 CAMPUS PARTNER.
                </p>
                <a href="#" class="btn btn-default btn-xl">Sign up</a>
            </div>
        </div>
    </div>
</section>
