<section class="bg-primary" id="portfolio">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Members</h2>

              <hr class="light">
              <br>

              <p class="text-faded"></p>
            </div>
          </div>
        </div>

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/founder.JPG" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                컴퓨터공학부 08학번<br>
                            </div>
                            <div class="project-name">
                                김 남 훈
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center"><br>Founder</div>
                </a>

            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/me.JPG" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                컴퓨터공학부 13학번<br>010-6623-7085
                            </div>
                            <div class="project-name">
                                회장 : 손 재 락
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center"><br>Executive</div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                전자공학부 13학번<br>010-8335-8209
                            </div>
                            <div class="project-name">
                                부회장 : 박 동 렬
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center"><br>Executive</div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio2-box">
                    <img src="img/portfolio/game.JPG" class="img-responsive" alt="">
                    <div class="portfolio2-box-caption">
                        <div class="portfolio2-box-caption-content">
                            <div class="project2-category text-faded">
                                최하늘 - 컴퓨터공학부 12학번<br>
                                이주한 - 컴퓨터공학부 12학번<br>
                                서정민 - 컴퓨터공학부 12학번<br>
                                정찬혁 - 컴퓨터공학부 12학번<br>
                                손재락 - 컴퓨터공학부 13학번<br>
                                김용규 - 컴퓨터공학부 13학번<br>
                                최선문 - 컴퓨터공학부 14학번<br>
                            </div>
                            <div class="project2-name">

                            </div>
                        </div>
                    </div>
                    <div style="text-align:center"><br>GAME_STUDY</div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio2-box">
                    <img src="img/portfolio/ag.JPG" class="img-responsive" alt="">
                    <div class="portfolio2-box-caption">
                        <div class="portfolio2-box-caption-content">
                            <div class="project2-category text-faded">
                              김범영 - 컴퓨터공학부 11학번<br>
                              박영호 - 컴퓨터공학부 12학번<br>
                              김진수 - 메카트로닉스공학부 12학번<br>
                              박혜림 - 컴퓨터공학부 13학번<br>
                              정태훈 - 컴퓨터공학부 16학번<br>

                            </div>
                            <div class="project2-name">

                            </div>
                        </div>
                    </div>
                    <div style="text-align:center"><br>ALGORITHM_STUDY</div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio2-box">
                    <img src="img/portfolio/python.JPG" class="img-responsive" alt="">
                    <div class="portfolio2-box-caption">
                        <div class="portfolio2-box-caption-content">
                            <div class="project2-category text-faded">
                              김동우 - 컴퓨터공학부 12학번<br>
                              이재영 - 정보통신공학과 10학번<br>
                              최유경 - 컴퓨터공학부 13학번<br>
                              권수빈 - 컴퓨터공학부 16학번<br>
                              허수윤 - 컴퓨터공학부 16학번<br>
                              이서영 - 컴퓨터공학부 16학번<br>

                            </div>
                            <div class="project2-name">

                            </div>
                        </div>
                    </div>
                    <div style="text-align:center"><br>PYTHON_STUDY</div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio2-box">
                    <img src="img/portfolio/hw.JPG" class="img-responsive" alt="">
                    <div class="portfolio2-box-caption">
                        <div class="portfolio2-box-caption-content">
                            <div class="project2-category text-faded">
                              김범영 - 컴퓨터공학부 11학번<br>
                              정보혁 - 컴퓨터공학부 13학번<br>
                              정세열 - 컴퓨터공학부 13학번<br>
                              박동렬 - 전자공학부   15학번<br>
                              남유진 - 컴퓨터공학부 15학번<br>
                              이찬솔 - 컴퓨터공학부 15학번<br>
                            </div>
                            <div class="project2-name">

                            </div>
                        </div>
                    </div>
                    <div style="text-align:center"><br>H/W_STUDY</div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio2-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio2-box-caption">
                        <div class="portfolio2-box-caption-content">
                            <div class="project2-category text-faded">

                            </div>
                            <div class="project2-name">
                              스터디 개설 준비중입니다...
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center"><br>Preparing...</div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio2-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio2-box-caption">
                        <div class="portfolio2-box-caption-content">
                            <div class="project2-category text-faded">

                            </div>
                            <div class="project2-name">
                                스터디 개설 준비중입니다...
                            </div>
                        </div>
                    </div>
                  <div style="text-align:center"><br>Preparing...</div>
                </a>
            </div>
        </div>
    </div>
</section>
