<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Members</h2>
                <hr class="light">
                <p class="text-faded">
                  <div class="head-blank">
                    <p>###Founder</p>
                  </div>
                  <div class="blank">
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/NamhoonKim.md">김남훈</a> - 컴퓨터공학부 08학번</p>
                  </div>

                  <div class="head-blank">
                    <p>##Executive</p>
                  </div>
                  <div class="blank">
                    <p>회장 : <a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Jinsu.md">김진수</a> - 메카트로닉스공학부 12학번</p>
                    <p>부회장 : <a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/eunbeejo.md">조은비</a> - 컴퓨터공학부 13학번</p>
                    <p>SW부장 : <a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/pathFinder-JaeHyeunJung">정재현</a> - 컴퓨터공학부 10학번</p>
                    <p>총무 : <a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Seongjin.md">윤성진</a> - 컴퓨터공학부 12학번</p>
                  </div>
                  <div class="head-blank">
                    <p>#Member</p>
                  </div>
                  <div class="blank">
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/KwonJiHyun.md">권지현</a> - 컴퓨터공학부 12학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Daegyeom.md">김대겸</a> - 컴퓨터공학부 12학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Dongwoo.md">김동우</a> - 컴퓨터공학부 12학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/MinBaek.md">김민백</a> - 기계공학부 11학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Beomyeong.md">김범영</a> - 컴퓨터공학부 11학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Jiwon.md">김지원</a> - 컴퓨터공학부 15학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Jin.md">김진</a> - 컴퓨터공학부 12학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Hyunji_Ra.md">라현지</a> - 컴퓨터공학부 13학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/donglul.md">박동렬</a> - 전자공학과 15학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/YoungHo.md">박영호</a> - 컴퓨터공학부 12학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/parkjaewoo.md">박재우</a> - 컴퓨터공학부 13학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Jeonghyun.md">박정현</a> - 컴퓨터공학부 12학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Hyerim.md">박혜림</a> - 컴퓨터공학부 13학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/JeongMin.md">서정민</a> - 컴퓨터공학부 12학번</p>
                    <p><a href="https://github.com/sonjaerock/Profile/blob/master/Introduce/Sonjaerock.md">손재락</a> - 컴퓨터공학부 13학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/juhwan.md">이주환</a> - 컴퓨터공학부 12학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/bohyuk.md">정보혁</a> - 컴퓨터공학부 13학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/seongwon.md">정성원</a> - 컴퓨터공학부 13학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/seiyoul.md">정세열</a> - 컴퓨터공학부 13학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Chanhyeok.md">정찬혁</a> - 컴퓨터공학부 12학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/cheagyuhong.md">채규홍</a> - 컴퓨터공학부 11학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Seonmun.md">최선문</a> - 컴퓨터공학부 14학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/youkyung.md">최유경</a> - 컴퓨터공학부 13학번</p>
                    <p><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Haneul.md">최하늘</a> - 컴퓨터공학부 12학번</p>
                  </div>
                </p>
              </hr>
            </div>
        </div>
    </div>
</section>
