<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Members</h2>
                <hr class="light">
                <p class="text-faded" >
                  <p>###Founder</p>
                  <ul>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/NamhoonKim.md">김남훈</a></strong> - 컴퓨터공학부 08학번</li>
                  </ul>
                  <p>##Executive</p>
                  <ul>
                  <li><strong>회장</strong> : <strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Jinsu.md">김진수</a></strong> - 메카트로닉스공학부 12학번</li>
                  <li><strong>부회장</strong> : <strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/eunbeejo.md">조은비</a></strong> - 컴퓨터공학부 13학번</li>
                  <li><strong>SW부장</strong> : <strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/pathFinder-JaeHyeunJung">정재현</a></strong> - 컴퓨터공학부 10학번</li>
                  <li><strong>총무</strong> : <strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Seongjin.md">윤성진</a></strong> - 컴퓨터공학부 12학번</li>
                  </ul>
                  <p>#Member</p>
                  <ul>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/KwonJiHyun.md">권지현</a></strong> - 컴퓨터공학부 12학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Daegyeom.md">김대겸</a></strong> - 컴퓨터공학부 12학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Dongwoo.md">김동우</a></strong> - 컴퓨터공학부 12학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/MinBaek.md">김민백</a></strong> - 기계공학부 11학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Beomyeong.md">김범영</a></strong> - 컴퓨터공학부 11학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Jiwon.md">김지원</a></strong> - 컴퓨터공학부 15학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Jin.md">김진</a></strong> - 컴퓨터공학부 12학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Hyunji_Ra.md">라현지</a></strong> - 컴퓨터공학부 13학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/donglul.md">박동렬</a></strong> - 전자공학과 15학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/YoungHo.md">박영호</a></strong> - 컴퓨터공학부 12학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/parkjaewoo.md">박재우</a></strong> - 컴퓨터공학부 13학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Jeonghyun.md">박정현</a></strong> - 컴퓨터공학부 12학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Hyerim.md">박혜림</a></strong> - 컴퓨터공학부 13학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/JeongMin.md">서정민</a></strong> - 컴퓨터공학부 12학번</li>
                  <li><strong><a href="https://github.com/sonjaerock/Profile/blob/master/Introduce/Sonjaerock.md">손재락</a></strong> - 컴퓨터공학부 13학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/juhwan.md">이주환</a></strong> - 컴퓨터공학부 12학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/bohyuk.md">정보혁</a></strong> - 컴퓨터공학부 13학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/seongwon.md">정성원</a></strong> - 컴퓨터공학부 13학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/seiyoul.md">정세열</a></strong> - 컴퓨터공학부 13학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Chanhyeok.md">정찬혁</a></strong> - 컴퓨터공학부 12학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/cheagyuhong.md">채규홍</a></strong> - 컴퓨터공학부 11학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Seonmun.md">최선문</a></strong> - 컴퓨터공학부 14학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/youkyung.md">최유경</a></strong> - 컴퓨터공학부 13학번</li>
                  <li><strong><a href="https://github.com/BCSDLab/Profile/blob/master/Introduce/Haneul.md">최하늘</a></strong> - 컴퓨터공학부 12학번</li>
                  </ul>
                </p>
            </div>
        </div>
    </div>
</section>
